<?xml version="1.0" encoding="UTF-8"?>

<widget version="1.0.0">
    <name>Webdicer Light</name>
    <description>
        Webdicer Light is an simple Dice-App.
    </description>
    <author>
        Jonas Balsiger
    </author>

    <!-- General settings -->
    <preference name="target-device"              value="universal" />  <!-- all os: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />       <!-- all os: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />      <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="show-splash-screen-spinner" value="false" />      <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />       <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->

    <!-- Plugins -->
    <!-- Core plugins -->
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-device-orientation" spec="2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <!-- <plugin name="cordova-plugin-device-motion" spec="2.0.1" /> -->
    <plugin name="cordova-plugin-shake" spec="0.6.0" />

    <!-- Icon -->
</widget>
